* {
  font-family: "Montserrat", sans-serif;
}

html,
body,
#root,
.App,
main {
  height: 100%;
}

:root {
  --darkest: #080808;
  --darker: #121212;
  --dark: #181818;
  --medium: #282828;
  --light: #404040;
  --lighter: #b3b3b3;
  --lightest: white;
  --green: #1db954;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--medium);
  transition: color 0.1s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--light);
}

ul {
  margin-bottom: 0px;
}

button:focus {
  outline: 0;
}
